# Auto detect text files and perform LF normalization
[![Raquel's GitHub stats](https://github-readme-stats.vercel.app/api?username=quelcarvalhais)](https://github.com/anuraghazra/github-readme-stats)
